{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "tsconfig.json",
    "ecmaFeatures": {
      "tsx": true
    }
  },
  "plugins": ["prettier", "react", "@typescript-eslint"],
  "rules": {
    "no-var": "error",
    "no-alert": "error",
    "prettier/prettier": ["error", {"endOfLine": "auto"}],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-unused-vars":[2]
  }
}
